body {
  background-color: #f6f6f6;
}

h1 {
  text-align: center;
  font-family: Arizonia;
  font-size: 50pt;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 8pt;
}

.container {
  background-color: #ffffff;
  max-width: 600px;
  padding: 10px;
  margin-top: 10px;
  border: solid lightgrey;
  border-radius: 20px;
}

.units {
  position: relative;
  top: -12px;
}

#current-temperature strong {
  font-size: 20pt;
  line-height: 130%;
}

#description-element {
  font-family: Arizonia;
  font-size: 20pt;
  text-align: center;
}

#current-date {
  font-size: 10pt;
}

#refresh {
  font-size: 10pt;
  text-align: right;
}
